<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImportExport" sendTimeout="00:10:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55601/ImportExportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportExport"
                contract="ServiceReference1.IImportExport" name="BasicHttpBinding_IImportExport" />
        </client>
    </system.serviceModel>
</configuration>